/classwork/HelloWord/target/
/classwork/WindowMaster/target/
/classwork/ProjectGutenberg/target/
/classwork/TheOrderOfThings/target/
/classwork/MenuOfChampions/target/
/classwork/BestAdderEver/target/
/classwork/QuestForTheUserInput/target/
/classwork/Trivia/target/
/classwork/Arrays/target/
/classwork/MyArrays/target/
/classwork/FruitsBasket/target/
/classwork/ARainbow/target/
/classwork/StillPositive/target/
/classwork/ExeMethods/target/
/classwork/MyClass/target/
/classwork/MyInterface/target/
/classwork/MyListExamples/target/
/classwork/MyMapExamples/target/
/classwork/StateCapitals/target/
/classwork/MyCollege/target/
/classwork/UserIOClassLab/target/
/classwork/SimpleCalculator/target/
/classwork/MyFileRead/target/
/classwork/SimpletFileIO/target/
/classwork/StateCapitals2/target/
/classwork/StateCapitals3/target/
